/Anton_Lipskyi/
/Baliuk/
/fesenko_andrew/
/Grygel_Vlad/
/Honchar M/
/Kharabash/
/Khomych Nat/
/Samiilenko Aleksandr/
/shenheliia/
/tertyshnyk/lesson 5/lab.py
/tertyshnyk/lesson 5/test.txt
/tertyshnyk/lesson 5/test1.txt
/tertyshnyk/lesson 5/test2.txt
